
<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      <p>当前版本：v1.0.0</p>
    </script>
  </blockquote>
</div>

<div class="layui-card-header">鸣谢</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    本项目在开发过程中参考并使用了部分优秀的开源组件，向所有开源作者表示诚挚的感谢。
    <br><br>
    鲨鱼生态团队
  </blockquote>
</div>
