<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../../res/layui/css/layui.css" rel="stylesheet">
  <link href="../../res/adminui/dist/css/admin.css" rel="stylesheet">
  <link href="../../res/layui/css/login_reg.css" rel="stylesheet">
</head>
<body>
  <div class="bg-orb bg-orb-1"></div>
  <div class="bg-orb bg-orb-2"></div>

  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>登录</h2>
        <p>现代化的短信服务平台</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
          <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item captcha-container">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
              <input type="text" name="captchaCode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
              <input type="hidden" name="captchaId" id="LAY-user-login-captchaId">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <div id="LAY-user-get-captcha" class="layadmin-user-login-codeimg" style="cursor: pointer; height: 38px; background-color: #fff; border-radius: 4px; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                  <span style="color: #999;">加载中...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
        </div>
        <div class="layui-trans layui-form-item layadmin-user-login-other">
          <span style="color: #636e72;">还没有账号？</span>
          <a href="reg.html" class="layadmin-user-jump-change layadmin-link">立即注册</a>
        </div>
      </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
      <p>SharkEco © All Rights Reserved</p>
    </div>
  </div>

  <script src="../../res/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../res/' // 静态资源所在路径
  }).extend({
    user: 'modules/user' // 重定向 user 模块至定制目录
  }).use(['index', 'user'], function(){
    var $ = layui.$
    ,form = layui.form;

    form.render();
  });
  </script>
</body>
</html>